.cell {
    border: 1px solid #0002;
    width: var(--box-size);
    height: 100%;
    min-height: var(--box-size);
    font-size: 8rem;
    color: #000;
    cursor: pointer;
    // text-shadow: 0px 0px 50px #000,
    //              5px 0px 50px #0007,
    //              -5px 0px 50px #0007,
    //              0px 5px 50px #0007,
    //              0px -5px 50px #0007;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
        opacity: .75;
        cursor: not-allowed;
        // animation: scale 3s 0s ease-in-out forwards;        
    }

    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-child(3n+1) {
        border-left: none;
    }
    &:nth-child(-n+3) {
        border-top: none;
    }
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
        border-bottom: none;
    }    

}

@media (max-width: 840px) {
    .cell { font-size: 7rem; }
}

@media (max-width: 720px) {
    .cell { font-size: 6rem; }
}

@media (max-width: 580px) {
    .cell { font-size: 5rem; }
}

@media (max-width: 480px) {
    .cell { font-size: 4rem; }
}