#root {
	background: transparent;
	width: 100%;
	height: calc(100vh - (4rem * 2));
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 580px;
	max-height: 720px;
	margin: auto;

	> h1 {
		font-size: 3.2em;
		line-height: 1.1;
		padding: 1rem;
		width: 100%;
		font-size: 6rem;
		text-align: center;
		color: #0001;
		text-shadow: 0px -5px 24px #000,
					 1px 5px 4px red;
		letter-spacing: 4px;
		animation: showText 5s ease-in-out forwards;		
	}

	> div {
		display: grid;
		place-items: center;
		height: 100%;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;

		&.blur {
			filter: blur(3)
		}
	}

	.alert-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;	
		display: flex;
		flex-direction: column;
		background: #0009;		

		> span {
			font-size: 10rem;
			color: #fff9
		}

		> strong {
			font-size: 4rem;
			letter-spacing: 8px;
			color: #fff6
		}
	}
	

}


@keyframes showText {
	from {
		filter: blur(2);
	}
	to {
		filter: blur(0);
		color: #0008;
		text-shadow: 0px -5px 24px #000,
					 1px 5px 4px red,
					 4px 4px 4px rgba(255, 0, 0, 0.472);
	}
}