@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	overflow: hidden;
}

@font-face {
	font-family: "SlacksideOne-Regular";
	src: url("../src/fonts/SlacksideOne-Regular.ttf");
}

@media screen and (orientation: landscape) and (max-width: 844px) {
	:root {
		--box-size: 5rem;
	}

	body {
		overflow: auto;

		#root {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: fit-content;

			> h1 {
				font-size: 3rem;
			}
		}
	}
}
