@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
	/* padding: 2rem; */
	display: flex;
	place-items: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* background: linear-gradient(to top, red, black),
		linear-gradient(to bottom, black, red); */
}

@font-face {
	font-family: "SlacksideOne-Regular";
	src: url("../src/fonts/SlacksideOne-Regular.ttf");
}
